* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header - cabeçalho  */

.container-header-cabecalho {
  background-color: #1a2b4b;
  border-bottom: 24px solid #b68954;
  display: flex;
  justify-content: center;
  padding: 36px 0;
}

.container-div-cabecalho {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-ul-cabecalho {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
}

.container-ul-cabecalho li a {
  text-decoration: none;
  color: white;
  font-size: 22.4px;
  font-weight: bold;
}

.container-ul-cabecalho li a:hover {
  color: #b68954;
  border-top: 6px solid #b68954;
  border-bottom: 6px solid #b68954;
  padding: 8px 0;
  transition: 0.4s ease;
}
